Html, body {
	Overflow-x: hidden; 
	Height: 100%; 
	Width: 100%; 
	Font-family: 'Roboto', sans-serif; 
	Font-size: large; 
}


.navbar-brand img {
	height: 2.8rem; 
}

.navbar {
	background: grey;
}

